@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* Small base defaults to match the Figma feel */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}
=======
/* Vos styles personnalisés peuvent aller ici si nécessaire */



>>>>>>> ala
